// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
$theme-color1: #a61c00;
$theme-color2: #073763;
$theme-color3: #999;

// General
#blog-archives a {
  font-size: 18px;
}

// header
article header {
  margin-bottom: 0em;
}

article, article > div {
  padding-top: 0em;
  border-top: 0em;
  margin-top: 0em;
}

article header p.meta {
  margin-top: 0em;
  margin-bottom: 0em;
	padding-top: 0em;
	padding-bottom: 0em;
}

// entry-title
.entry-title {
  color: $theme-color1;
  font-size: 25px;
	font-weight: bold;
  margin-top: 0em;
  padding-top: 0em;
}

.entry-title a {
  color: $theme-color1;
  font-size: 22px;
	font-weight: bold;
}

.entry-title a:hover {
  color: darken($theme-color3, 10);
  font-size: 22px;
  font-weight: bold;
	text-decoration: none;
}

// entry-date
.entry-date {
	font-size: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
}

// entry-content
.entry-content {
	padding-bottom: 6px;
}

.entry-content > h2 {
	border-bottom: 1px solid darken($sidebar-border, 10);
  padding-top: 0.5em;
  padding-bottom: 4px;
  margin-top: 0.5em;
	margin-bottom: 0em;
  color: $theme-color2;
  font-size: bold 24px;
}

.entry-content > h3 {
  font-size: bold 18px;
  padding-top: 5px;
  padding-bottom: 3px;
  margin-top: 0px;
	margin-bottom: 0px;
}

.entry-content > h4 {
  font-size: bold 16px;
}

.entry-content p {
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.entry-content li {
  font-size: 14px;
  margin-left: 2em;
}

// Table Style
.entry-content > table {
  border-top: 1px solid $theme-color3;
  border-bottom: 1px solid $theme-color3;
  font-size: 14px;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.entry-content > table th {
  border-bottom: 1px solid $theme-color3;
  font-size: bold 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.entry-content > table td {
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

// Footers
article footer {
  font-size: 14px;
  margin-top: 1em;
}

article footer p span {
  color: $theme-color3;
  font-size: 14px;
  padding-top: 1em;
  padding-bottom: 1em;
}


// Categories aside
#categories_aside h1 {
  color: $theme-color1;
  margin-top: 3em;
}

#categories_aside h2 {
  color: $theme-color2;
  margin-top: 0.5em;
}


// Recent Posts
#recent_posts h1 {
  color: $theme-color1;
  margin-bottom: 0.5em;
}

#recent_posts h2 {
  color: $theme-color2;
  margin-top: 0.5em;
}

#recent_posts a {
  font-size: 14px;
  line-height: 10px;
}

#recent_posts p {
  font-size: 14px;
  line-height: 5px;
}

// Directory
.blogAnchor {
	padding-bottom: 0px;
	margin-bottom: 5px;
}

.anchorContent p {
  color: $theme-color2;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}

.anchorContent a {
  color: $theme-color3;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
	text-decoration: none;
}

.anchorContent a:hover {
  color: $theme-color1;
  font-size: 16px;
	font-weight: bold;
  padding-left: 5px;
}

#anchorContentToggle {
  color: $theme-color1;
	cursor: pointer;
  font-size: 16px;
	font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

// About Team
#about-team h2 {
  padding-top: 0.5em;
  margin-top: 0.5em;
  color: $theme-color2;
  font-size: bold 24px;
}
