// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
$theme-color1: #a61c00;
$theme-color2: #263347;

// General
h1.entry-title a {
  color: $theme-color1;
	font-size: 28px;
}

#blog-archives a {
	font-size: 18px;
}

header {
	margin-bottom: 0em;
}

header > h1.entry-title {
	padding-bottom: 0em;
	margin-bottom: 0em;
}


// Article
article > header h1 {
  color: $theme-color1;
	font-size: 28px;
}

article, article > div {
	padding-top: 0em;
	border-top: 0em;
	margin-top: 0em;
}

article > div > h1 {
  color: $theme-color1;
  font-size: bold 28px;
}

article > div > h2, #about-team h2 {
	padding-top: 0.5em;
	margin-top: 0.5em;
	color: $theme-color2;
	font-size: bold 24px;
}

article > div > h3 {
	font-size: bold 20px;
}

article > div > h4 {
  font-size: bold 16px;
}

article p {
	font-size: 14px;
	line-height: 5px;
}

article li {
	font-size: 14px;
	margin-left: 2em;
}

article footer {
  font-size: 14px;
	line-height: 6px;
}


// Categories aside
#categories_aside h1 {
	color: $theme-color1;
	margin-top: 3em;
}

#categories_aside h2, #recent_posts h2 {
	margin-top: 0.5em;
	color: $theme-color2;
}


// Recent Posts
#recent_posts h1 {
	color: $theme-color1;
	margin-bottom: 0.5em;
}

#recent_posts a {
	font-size: 14px;
  line-height: 10px;
}

#recent_posts p {
  font-size: 14px;
  line-height: 5px;
}

